*{
    margin: 0; padding: 0; /*전체여백 초기화*/
  }
  #container{width:1000px; margin:0 auto;}
  header{
    width: 978px;  /*padding(20px) + border(2px)*/
    height: 100px; 
    border: 1px solid #ccc;
    padding: 10px;
  }
  section{
    width: 620px; 
    height: 600px; 
    border: 1px solid #ccc; 
    padding: 10px;
    float:left;
  }
  aside{
    width: 320px; 
    height: 600px; 
    border: 1px solid #ccc; 
    padding: 10px;
    background-color: azure;
    float: right;
  }
  footer{
    width: 978px;
    height: 100px; 
    border: 1px solid #ccc; 
    padding: 10px;
    clear: both;
  }