@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
/* layout */
#container{width: 1200px; margin: 0 auto;}
/* header 영역 */
header{width: 100%; height: 100px; background: #07c;}
#logo{float: left; width: 250px; height: 100px; padding-left: 20px; line-height: 100px;}
#logo h1{font-weight: 700; font-size: 40px; color: #fff; text-shadow: 0 1px 0 #222; 
    font-family: 'Merienda', cursive;}
/* 주메뉴 */
nav{float: right; width: 900px; height: 100px; padding-top: 40px;}
#topMenu{height: 60px;}
#topMenu > li{float: left; position: relative;}
#topMenu > li > a{display: block; color: #fff; padding: 20px 60px; font-weight: 600;}
#topMenu > li > a:hover{color: #000;}
/* 서브 메뉴 */
#topMenu > li > ul{width: 160px; display: none; position: absolute; left: 20px;
    background: rgba(246, 248, 213, 0.6); }
#topMenu > li:hover > ul{display: block; z-index: 10;}
#topMenu > li > ul > li{padding: 10px 10px 10px 30px;}
#topMenu > li > ul > li > a{font-size: 14px; padding: 10px; color: #000}
#topMenu > li > ul > li > a:hover{color: #f00;}

/* contents 영역 */
#contents{width: 100%; height: 800px; margin-top: 100px;}
#tabMenu{width: 600px; height: 100%; margin: 0 auto;}
#tabMenu input[type="radio"]{display: none;}
#tabMenu label{display: inline-block; color: #aaa; padding: 15px 25px;}
#tabMenu label:hover{color: #222; cursor: pointer;}
#tabMenu input:checked + label{color: #b00; 
    border: 1px solid #ddd; background: #eee;}
/* 공지사항은 checked 이므로 처음부터 보이고 갤러리는 보이지 않음 */
.tabContent{display: none; padding: 20px 0 0; 
    border-top: 1px solid #ddd;}
.tabContent h2{display: none;}
/* 형제 선택자 '~', 부모는 tabMenu*/
#tab1:checked ~ #notice, #tab2:checked ~ #gallery{display: block;}
#notice ul{list-style: square; margin-left: 30px;}
#notice ul li{font-size: 16px; line-height: 2.5;}
#gallery ul li{display: inline;}