*{margin:0; padding:0;}
#container{width: 1000px; margin: 30px auto;}
h1{text-align: center;}
.prod-list{list-style: none; margin-top: 30px}
.prod-list li{display: inline-block; position: relative;  margin:5px 10px; overflow: hidden;}
.prod-list img{float: left;}
.prod-list .caption{width: 300px; height: 200px; background: rgba(0, 0, 0, 0.6); 
  position: absolute; top: 200px; transition: all 0.6s; }
  /*설명글이 위로 200px 이동*/
.prod-list li:hover .caption{transform: translateY(-200px); }
.prod-list .caption h2{ padding: 20px 0 10px 0;}
.prod-list caption h2, p{color: #fff; text-align: center; line-height: 2em;}