*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 250px; 
    height: 300px;
    margin: 5px auto;
    border: 1px solid #ccc;
    background: url("./notice.jpg") no-repeat;
    background-size: cover;
}
h1{
    padding: 50px 30px 0px 50px;
}
ul li{
    list-style: none;
    margin: 10px 0;
    padding: 10px 40px;
}
